.switch {
  display: flex;
  justify-content: center;
}

.badge {
  font-size: 0.75em;
  border-radius: 1em;
  display: inline-block;
  min-width: 1em;
  line-height: 1;
  background-color: #3f51b5;
  color: #fff;
  padding: 5px;
}

.mat-button-toggle {
  transition: background-color 0.3s ease;
}

.mat-button-toggle-checked {
  background-color: #3f51b5;
  color: #fff;

  .badge {
    background-color: #fff;
    color: #3f51b5; 
  }
}

.product-line {
  margin-top: 2rem;

.header {
   border-bottom: 1px solid #ccc;
   color: #777;
   margin-bottom: 1rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 16px;
   padding-right: 40px;

   .title {
     margin: 0;
   }

   mat-checkbox {
     font-size: 15px;
   }
}
  

  mat-panel-title, mat-panel-description {
    flex: 1 1 auto;
    align-items: center;
  }

  .select {
    flex: 0 1 auto;
    align-items: center;
  }

  .footer {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}