.switch {
  display: flex;
  justify-content: center;
}

.badge {
  font-size: 0.75em;
  border-radius: 1em;
  display: inline-block;
  min-width: 1em;
  line-height: 1;
  background-color: #3f51b5;
  color: #fff;
  padding: 5px;
}

.mat-button-toggle {
  transition: background-color 0.3s ease;
}

.mat-button-toggle-checked {
  background-color: #3f51b5;
  color: #fff;

  .badge {
    background-color: #fff;
    color: #3f51b5; 
  }
}

.header {
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
  color: #6a6a6a;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;

  .title {
    margin: 0;
  }

  mat-checkbox {
    font-size: 15px;
  }
}

.product-line--header {
  
}

.product-line + .product-line {
  margin-top: 3.5rem;
}

.general-agreement--header {
  padding-right: 20px;
}

.general-agreement {
  padding-left: 1rem;
}

.general-agreement + .general-agreement {
  margin-top: 1.5rem;
}

.all-assignments {
  text-align: center;
  color: #424242;
}

mat-panel-title {
  flex: 1 1 percentage(1/3);
  align-items: center;
}

mat-panel-description {
  flex: 1 1 percentage(2/3);
  justify-content: space-between;
  align-items: center;
}

.footer {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}